@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper


@{
    var rootContent = UmbracoHelper.ContentAtRoot();

    var header = rootContent.FirstOrDefault(x => x.ContentType.Alias == "header");

    var globalSettings = rootContent.FirstOrDefault(x => x.ContentType.Alias == "settings");


    //Top-bar address
    var streetName = globalSettings?.Value<string>("streetName") ?? "";
    var postalCode = globalSettings?.Value<string>("postalCode") ?? "";
    var city = globalSettings?.Value<string>("city") ?? "";


    //Navlinks
    var navTitle1 = header?.Value<string>("navigationLinkTitle1") ?? "";
    var navLinkUrl1 = header?.Value<string>("navigationLinkUrl1") ?? "";

    var navTitle2 = header?.Value<string>("navigationLinkTitle2") ?? "";
    var navLinkUrl2 = header?.Value<string>("navigationLinkUrl2") ?? "";

    var navTitle3 = header?.Value<string>("navigationLinkTitle3") ?? "";
    var navLinkUrl3 = header?.Value<string>("navigationLinkUrl3") ?? "";

    var navTitle4 = header?.Value<string>("navigationLinkTitle4") ?? "";
    var navLinkUrl4 = header?.Value<string>("navigationLinkUrl4") ?? "";

}

<div class="upper">
    <div class="container header-grid">
        <p>@streetName, @postalCode @city</p>

        <a class="social-media-link"> <i class="fa-brands fa-facebook-f"></i> </a>
        <a class="social-media-link"> <i class="fa-brands fa-x-twitter"></i> </a>
        <a class="social-media-link"> <i class="fa-brands fa-linkedin-in"></i> </a>

    </div>
</div>

<div class="lower">
    <div class="container ">

        <a class="icon" href="/">
            <img class="header-logo" src="/images/onatrix-logo.svg" />
        </a>

        <div class="navbar">
            <a href="/@navLinkUrl1" class="navlink">@navTitle1</a>
            <a href="/@navLinkUrl2" class="navlink">@navTitle2</a>
            <a href="/@navLinkUrl3" class="navlink">@navTitle3</a>
            <a href="/@navLinkUrl4" class="navlink">@navTitle4</a>
        </div>

        <button class="btn-mobile" onclick="toggleMenu()"><i id="btn-mobile-icon" class="fa-solid fa-bars"></i></button>

    </div>
</div>