@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage 
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "mainLayoutCshtml.cshtml";

    var content = Model.Value<string>("projectContent");
    var projectTitle = Model.Value<string>("projectTitle");

    var projects = Umbraco.Content(Guid.Parse("7d0e4d53-c23d-4516-bfb9-9c394050bb2d"))?
        .ChildrenOfType("projectItem")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate)
        .Take(4);

}

<section class="sub-header-section">
    <div class="background" style="background-image:url('/images/sub-header-bg-image.png'); background-size: cover; background-position: 10%;">

        <div class="container">

            <div class="content">
                <h1>
                    @projectTitle
                </h1>

                <p>
                    <a href="/">Home</a>
                    >
                    <a href="/projects">Projects</a>
                    >
                    <span>@projectTitle</span>
                </p>

            </div>
        </div>
    </div>
</section>

<section id="project-item">

    <div class="container">

        <div class="left">
            @{
                var date = Model.CreateDate.ToString("MMMM dd, yyyy");
            }
            <p class="date">
                <i class="fa-regular fa-calendar-days"></i> @date
            </p>

            @Html.Raw(content)
        </div>

        <div class="right">

            <div class="recent-projects">
                <h5>Recent projects</h5>

                @if(projects != null)
                {
                    foreach (var project in projects)
                    {
                        var recentProjectThumbnail = project.Value<IPublishedContent>("projectThumbnail")?.Url();
                        var recentProjectTitle = project.Value<string>("projectTitle");
                        var creationDate = project.CreateDate.ToString("MMMM dd, yyyy");


                        <a href="@project.Url()" class="project">

                            <div class="img-div">
                                <img src="@recentProjectThumbnail" />

                            </div>


                            <p class="title">@recentProjectTitle</p>

                            <p class="date"><i class="fa-regular fa-calendar-days"></i> @creationDate</p>

                        </a>
                    }
                }
                
            </div>

            <div class="online-support-box">
                <p class="title">How can we help you?</p>
                <p>Online support 24/7, we are here to help you</p>
                <input placeholder="E-mail Address" />
            </div>

        </div>

    </div>

</section>

@await Html.PartialAsync("partials/static/contactSection.cshtml")
