@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var imageDescription = Model.Content.Value<string>("imageDescription") ?? "";
    var selectedImage = Model?.Content?.Value<IPublishedContent>("selectedImage")?.Url() ?? null;

    var hideInTabletView = Model!.Content.Value<bool>("hideInTabletView") ? "hidden-tablet": "";
    var hideInMobileView = Model.Content.Value<bool>("hideInMobileView") ? "hidden-mobile": "";
    var hideInDesktopView = Model.Content.Value<bool>("hideInDesktopView") ? "hidden-desktop" : "";

    //positioning
    var absolutePosition = Model.Content.Value<bool>("absolutePosition") ? "absolute-position" : "";
    var relativePostion = absolutePosition == "absolute-position" ? "relative-position" : "";
    var rightPositioning = Model.Content.Value<int>("rightPositioning").ToString() + "%";
    var topPositioning = Model.Content.Value<int>("topPositioning").ToString();

    //Disable standard image handling
    var disableStandardImageHandling = Model.Content.Value<bool>("disableStandardImageHandling");
}

@if (!string.IsNullOrEmpty(selectedImage))
{
    if (disableStandardImageHandling)
    {
        <div class="image-div @hideInMobileView @hideInTabletView @hideInDesktopView @relativePostion">
            <img class="@absolutePosition"
                 src="@selectedImage"
                 alt="@imageDescription"
                 style="
                    right: @rightPositioning; 
                    top: @topPositioning;
                    height: auto;
                    max-width: none;" />
        </div>
    }
    else
    {
        <div class="image-div @hideInMobileView @hideInTabletView @hideInDesktopView @relativePostion">
            <img class="@absolutePosition"
                 src="@selectedImage"
                 alt="@imageDescription"
                 style="right: @rightPositioning; top: @topPositioning;" />
        </div>
    }
}