@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    int servicesDisplayCount = 2;
    int currentPage = 1;

    if (int.TryParse(Context.Request.Query["page"], out int parsedPage))
    {
        currentPage = parsedPage;
    }

    var services = Umbraco.Content(Guid.Parse("42807083-f4fe-4c9e-9421-038047dc543b"))?
         .ChildrenOfType("serviceItem")?
         .Where(x => x.IsVisible())
         .OrderByDescending(x => x.CreateDate);

    var servicesSelection = services?.Skip((currentPage - 1) * servicesDisplayCount).Take(servicesDisplayCount);
    int totalNumberOfPages = (int)Math.Ceiling((double)services.Count() / servicesDisplayCount);
}

<div class="services-grid">

    @if (servicesSelection != null)
    {
        @foreach (var service in servicesSelection)
        {
            var serviceTitle = service.Value<string>("serviceTitle");
            var serviceDescription = service.Value<string>("serviceDescription");
            var serviceThumbnail = service.Value<IPublishedContent>("serviceThumbnail")?.Url();

            <a class="service-tile" href="@service.Url()">

                <div class="service-tile-header">
                    <h5>@serviceTitle</h5>
                </div>
                <div class="service-tile-image">
                    <img src="@serviceThumbnail">
                </div>
                <div class="service-tile-body">
                    <p>@serviceDescription</p>
                </div>

            </a>
        }
    }
</div>

<div class="pagination">

    @if (currentPage > 1)
    {
        <a href="?page=@(currentPage - 1)">Prev</a>
    }

    @for(int i = 1; i < totalNumberOfPages; i++)
    {
        if (i == currentPage)
        {
            <a class="active a-number" href="?page=@(i)">@i</a>
        }
        else
        {
            <a class="a-number" href="?page=@(i)">@i</a>
        }
    }

    @if (currentPage < totalNumberOfPages)
    {
        <a href="?page=@(currentPage + 1)">Next</a>
    }

</div>